<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" routerLink="/home" class="brand-logo">Patient Tracker</a>
    <ul class="right">
      <!-- <li><a routerLink="/profile">Profile</a></li>-->
      <li><a *ngIf="auth.loggedIn()"  routerLink="/profile">Profil</a></li>
      <li><a *ngIf="!auth.loggedIn()" routerLink="/login">Se connecter</a></li>
      <li><a *ngIf="auth.loggedIn()" (click)="auth.logout()">Se déconnecter</a></li>

     </ul>
     <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
  </div>
</nav>
