<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2"></h1>
      <div class="row center">
        <div class="row">
          <form class="col s12" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col s6">
                <i class="material-icons prefix">account_circle</i>
                <input formControlName="userId" placeholder="User ID" id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Identifiant</label>
              </div>
              <div class="col s6">
                <i class="material-icons prefix">lock</i>
                <input formControlName="password" placeholder="Password" id="password" type="password" class="validate">
                <label for="password">Mot de passe</label>
              </div>
            </div>
            <div class="row center">
              <input type="submit" value="se connecter" class="btn-large waves-effect waves-light teal lighten-1">
            </div>
          </form>
        </div>
      </div>

      <br><br>

    </div>
  </div> 
</div>