/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

footer.page-footer {
  margin: 0;
}


a:hover{
  text-decoration: none !important;
}


