<app-navbar></app-navbar>

<router-outlet></router-outlet>

<div class="container center-align">
    Copyright &copy; <a class="brown-text text-lighten-3">2017</a> Baptiste Candellier, Jennifer Gränicher, Abdessamad Zianou
</div>
