<div class="container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2"></h1>
            <div class="row center">
                <div class="row">
                    <form class="col s12" [formGroup]="addPatientForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col s6">
                                <input type="radio" formControlName="titleId" id="gender_mr" value="1">
                                <label for="gender_mr">Mr.</label>
                            </div>
                            <div class="col s6">
                                <input type="radio" formControlName="titleId" id="gender_mme" value="2">
                                <label for="gender_mme">Mme.</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s6">
                                <input id="firstName" formControlName="firstName" type="text" class="validate">
                                <label for="firstName">Prénom</label>
                            </div>
                            <div class="col s6">
                                <input id="lastName" formControlName="lastName" type="text" class="validate">
                                <label for="lastName">Nom</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <input id="email" formControlName="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <input id="address" formControlName="address" type="text" class="validate">
                                <label for="address">Adresse</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s6">
                                <input id="city" formControlName="city" type="text" class="validate">
                                <label for="city">Ville</label>
                            </div>
                            <div class="col s6">
                                <input id="zip" formControlName="zipCode" type="text" class="validate">
                                <label for="zip">Code postale</label>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col s6">
                                <input id="ssnumber" formControlName="socialSecurityNumber" type="text" class="validate">
                                <label for="ssnumber">N° Sécurité social</label>
                            </div>

                            <!--
                            <div class="col s6">
                                <select id="service" formControlName="serviceId">
                                    <option value="" disabled selected>-- Service --</option>
                                    <option value="1">Urgences</option>
                                </select>
                                <label for="service">Service</label>
                            </div>
                            -->
                        </div>

                        <input type="submit" value="Ajouter" class="btn-large waves-effect waves-light teal lighten-1">

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>