<!--<p>
  profile works!
  <a routerLink="/patient/add">Ajouter un patient</a>
</p>-->
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <mat-card class="profile-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{user.title}} {{user.firstName}} {{user.lastName}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <div class="row left-align">
            <i class="material-icons col s2 m2 l2">wc</i> <span class="col s2 m2 l2">{{user.sex}}</span>
          </div>
          <div class="row left-align">
            <i class="material-icons col s2 m2 l2">pregnant_woman</i> <span class="col s2 m2 l2">19/01/1970</span>
          </div>
          <div class="row left-align">
            <i class="material-icons col s2 m2 l2">mail</i> <span class="col s2 m2 l2">{{user.firstName}}.{{user.lastName}}@mail.com</span>
          </div>
          <div class="row left-align">
            <i class="material-icons col s2 m2 l2">group</i>
            <mat-list class="roles col s2 m2 l2">
              <mat-list-item *ngFor="let role of user.roles">
                {{role}}
              </mat-list-item>
            </mat-list>
          </div>
          <mat-card-actions class="center-align">
            <button class="waves-effect waves-light" mat-button routerLink="/patient/add" *ngIf="show">CREER PATIENT</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
