<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center-align teal-text text-lighten-2">Patient Tracker</h1>
      <div>
        <div class="row">
          <h5 class="header col s12 light center-align">Dossier médical et carnet de santé numérisés</h5>
        </div>
        <div class="row center">
          <a *ngIf="!auth.loggedIn()" routerLink="/login" class="btn-large waves-effect waves-light teal lighten-1 center-align">se connecter</a>
          <a *ngIf="auth.loggedIn()" (click)="auth.logout()" class="btn-large waves-effect waves-light teal lighten-1 center-align">se déconnecter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax" materialize="parallax"><img src="/assets/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center-align brown-text"><i class="material-icons">account_box</i></h2>
          <h5 class="center-align">Consultez votre dossier médical</h5>

          <p class="light center-align">Vous pouvez consulter votre dossier médical.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center-align brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center-align">Prenez rendez-vous avec votre médecin</h5>

          <p class="light center-align">Prenez un rendez-vous directement sur votre espace personnel.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center-align brown-text"><i class="material-icons">assignment</i></h2>
          <h5 class="center-align">Consultez les résultats de vos analyses</h5>

          <p class="light center-align">Mettez à jour et consultez vos dernières analyses.</p>
        </div>
      </div>
    </div>

  </div>
</div>
