

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(1,255,.9);
}

.parallax-container .section {
  width: 100%;
  margin: 100px 0;
}

.parallax-container a {
  margin: auto;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: 80px;
}
